<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<context:component-scan base-package="springtest"></context:component-scan>-->

    <bean id="cdplayer" class="spring.CDPlayerImpl" scope="prototype" >

    </bean>

    <bean id="music" class="spring.CompicDisImpl">

        <constructor-arg ref="cdplayer"/>
        <constructor-arg>
            <list>
                <value>jazz</value>
                <value>pop</value>
                <value>soft</value>

            </list>

        </constructor-arg>
    </bean>


    <bean class="springtest.CarConfig"/>

    <bean id="person" class="springtest.IPersonImpl">

        <constructor-arg ref="cardd"/>
    </bean>
</beans>